[submodule "external/packer"]
	path = external/packer
	url = https://github.com/cafepromenade/packer
	shallow = true
[submodule "external/viaproxy"]
	path = external/viaproxy
	url = https://github.com/cafepromenade/ViaProxy
	shallow = true
[submodule "external/qbittorrent"]
	path = external/qbittorrent
	url = https://github.com/cafepromenade/qBittorrent
	shallow = true
[submodule "external/vscode"]
	path = external/vscode
	url = https://github.com/cafepromenade/vscode
	shallow = true
[submodule "external/yt-dlp"]
	path = external/yt-dlp
	url = https://github.com/yt-dlp/yt-dlp
	shallow = true
[submodule "external/worldmonitor"]
	path = external/worldmonitor
	url = https://github.com/koala73/worldmonitor
	shallow = true
[submodule "external/ai-website-cloner-template"]
	path = external/ai-website-cloner-template
	url = https://github.com/JCodesMore/ai-website-cloner-template
	shallow = true
[submodule "external/winfetch"]
	path = external/winfetch
	url = https://github.com/lptstr/winfetch
	shallow = true
[submodule "external/gitty"]
	path = external/gitty
	url = https://github.com/Omibranch/gitty
	shallow = true
[submodule "external/btop4win"]
	path = external/btop4win
	url = https://github.com/aristocratos/btop4win
	shallow = true
[submodule "external/7-taskbar-tweaker"]
	path = external/7-taskbar-tweaker
	url = https://github.com/m417z/7-Taskbar-Tweaker
	shallow = true
[submodule "external/nilesoft-shell"]
	path = external/nilesoft-shell
	url = https://github.com/moudey/shell
	shallow = true
[submodule "external/eartrumpet"]
	path = external/eartrumpet
	url = https://github.com/File-New-Project/EarTrumpet
	shallow = true
[submodule "external/windhawk"]
	path = external/windhawk
	url = https://github.com/ramensoftware/windhawk
	shallow = true
[submodule "external/rainmeter"]
	path = external/rainmeter
	url = https://github.com/rainmeter/rainmeter
	shallow = true
[submodule "external/testdisk"]
	path = external/testdisk
	url = https://github.com/cgsecurity/testdisk
	shallow = true
[submodule "external/pgadmin4"]
	path = external/pgadmin4
	url = https://github.com/pgadmin-org/pgadmin4
	shallow = true
[submodule "external/aseprite"]
	path = external/aseprite
	url = https://github.com/aseprite/aseprite
	shallow = true
[submodule "external/blender"]
	path = external/blender
	url = https://github.com/blender/blender
	shallow = true
[submodule "external/ollama"]
	path = external/ollama
	url = https://github.com/ollama/ollama
	shallow = true
[submodule "external/wireshark"]
	path = external/wireshark
	url = https://github.com/wireshark/wireshark
	shallow = true
[submodule "external/nmap"]
	path = external/nmap
	url = https://github.com/nmap/nmap
	shallow = true
[submodule "external/libreoffice-core"]
	path = external/libreoffice-core
	url = https://github.com/LibreOffice/core
	shallow = true
[submodule "external/bitwarden-clients"]
	path = external/bitwarden-clients
	url = https://github.com/bitwarden/clients
	shallow = true
[submodule "external/timelens"]
	path = external/timelens
	url = https://github.com/0pandadev/timelens
	shallow = true
[submodule "external/rustdesk"]
	path = external/rustdesk
	url = https://github.com/rustdesk/rustdesk
	shallow = true
[submodule "external/rufus"]
	path = external/rufus
	url = https://github.com/pbatard/rufus
	shallow = true
[submodule "external/windows-terminal"]
	path = external/windows-terminal
	url = https://github.com/microsoft/terminal
	shallow = true
[submodule "external/github-desktop"]
	path = external/github-desktop
	url = https://github.com/desktop/desktop
	shallow = true
[submodule "external/screentogif"]
	path = external/screentogif
	url = https://github.com/NickeManarin/ScreenToGif
	shallow = true
[submodule "external/altsnap"]
	path = external/altsnap
	url = https://github.com/RamonUnch/AltSnap
	shallow = true
[submodule "external/powertoys"]
	path = external/powertoys
	url = https://github.com/microsoft/PowerToys
	shallow = true
[submodule "external/komorebi"]
	path = external/komorebi
	url = https://github.com/LGUG2Z/komorebi
	shallow = true
[submodule "external/glazewm"]
	path = external/glazewm
	url = https://github.com/glzr-io/glazewm
	shallow = true
[submodule "external/amulet-map-editor"]
	path = external/amulet-map-editor
	url = https://github.com/Amulet-Team/Amulet-Map-Editor
	shallow = true
[submodule "external/vlc"]
	path = external/vlc
	url = https://github.com/videolan/vlc
	shallow = true
[submodule "external/audacity"]
	path = external/audacity
	url = https://github.com/audacity/audacity
	shallow = true
[submodule "external/thunderbird"]
	path = external/thunderbird
	url = https://github.com/mozilla/releases-comm-central
	shallow = true
[submodule "external/veracrypt"]
	path = external/veracrypt
	url = https://github.com/veracrypt/VeraCrypt
	shallow = true
[submodule "external/paper"]
	path = external/paper
	url = https://github.com/PaperMC/Paper
	shallow = true
